.counter{
  width: 120px;
  height: auto;
  border: #df662e 1px solid;
}

.section-counter{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  button{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #df662e;
    margin: 4px;
    cursor: pointer;
  }

  p{
    color: #ffffff;
  }
}

.number{
  font-size: 1.5em;
  color: #df662e;
}
